{% extends "base.html" %}

{% block body %}
  <div class="text-center mt-5 mb-10">
    <h1 class="text-4xl text-bold">History</h1>
  </div>

  <div class="relative overflow-x-auto flex justify-center ">
    <table class="w-[80%] text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-lg text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Ticket ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Guest Names
                </th>
                <th scope="col" class="px-6 py-3">
                    Email ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Phone
                </th>
                <th scope="col" class="px-6 py-3">
                    Room
                </th>
                <th scope="col" class="px-6 py-3">
                    Start Date
                </th>
                <th scope="col" class="px-6 py-3">
                    End Date
                </th>
                <th scope="col" class="px-6 py-3">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
          {% for g in guests %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{g.guest_names}}
                </th>
                <td class="px-6 py-4 text-lg">
                    {{g.guest_email}}
                </td>
                <td class="px-6 py-4 text-lg">
                    {{g.guest_phone}}
                </td>
                <td class="px-6 py-4 text-lg">
                    {{g.room.name}}
                </td>
                <td class="px-6 py-4 text-lg">
                    {{g.start_date}}
                </td>
                <td class="px-6 py-4 text-lg">
                    {{g.end_date}}
                </td>
                <td class="px-6 py-4 text-lg">
                    CheckOut, Update
                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock body %}